@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Cascadia Code";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: @text;
}

window#waybar {
  background: @base;
  opacity: 0.8;
}

tooltip {
  background: @base;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @crust;
}

tooltip label {
  color: @text;
}

#workspaces button {
  padding: 5px;
  color: #f6f7fc;
  margin-right: 5px;
}

#workspaces button.active {
  color: #000000;
  background: @mauve;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @base;
  color: @text;
  border-radius: 10px;
}

#custom-launch_wofi,
#custom-launch_thunar,
#custom-cava-internal,
#custom-lock_screen,
#custom-power_btn,
#custom-power_profile,
#custom-spotify,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#idle_inhibitor {
  background: rgba(21, 18, 27, 0);
  opacity: 1;
  padding: 0px 5px;
  margin: 0px 3px;
  border: 0px;
}

#temperature.critical {
  color: @red;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

#custom-cava-internal {
  color: @maroon;
  padding-right: 1rem;
}
